<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Site Map</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/documents" class="link">Documents</a></li>
					<li><a href="/faq" class="link">FAQ</a></li>
					<li><a href="/meetings" class="link">Meetings</a></li>
					<li><a href="/events" class="link">Events</a></li>
					<li><a href="/about" class="link">About</a></li>
					<li><a href="/post" class="link">News</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
          <li><a href="https://squareup.com/market/spring-hill-homeowners-inc" class="link">Pay Dues</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Contact Us</h3>
				<ul class="mb3">
          <li>{{ $.Site.Params.contact_email }}</li>
          <li>{{ $.Site.Params.contact_mailbox }}</li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Follow Us</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/groups/SpringHillSub" "svg" "icons-facebook") }}
          <!--
					{{ partial "social-icon" (dict "link" "mailto:info@springhillsub.com" "svg" "icons-email") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
          -->
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
