<script type="text/javascript">
function toggleTopnav() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
<nav class="topnav" id="myTopnav">
	<a id="navLogo" href="/" class="pa3 db h-100 flex-none" style="width:12rem;">
		<img src="/img/logo-simeon.svg" alt="Spring Hill logo" class="br0 db mb0 w-100"/>
	</a>
  <div id="navLinks">
  <div class="dropdown">
    <button class="dropbtn pa3 no-underline db">Info &#9662;</button>
    <div class="dropdown-content">
		   <a href="/about" class="pa3 no-underline db">About</a>
		   <a href="/faq" class="pa3 no-underline db">FAQ</a>
		   <a href="/documents" class="pa3 no-underline db">Documents</a>
		   <a href="/meetings" class="pa3 no-underline db">Meetings</a>
    </div>
  </div>
  <a href="/post" class="pa3 no-underline db">News</a>
	<a href="/events" class="pa3 no-underline db">Events</a>
	<a href="/contact" class="pa3 no-underline db">Contact</a>
	<a href="https://squareup.com/market/spring-hill-homeowners-inc" id="navPayDues" class="pa3 no-underline db">Pay Dues</a>
  </div>
  <a href="javascript:void(0);" class="icon" onclick="toggleTopnav()">&#9776;</a>
</nav>
