<form name="newsletter" method="POST" data-netlify="true">

  <fieldset>
    <input type="text" id="name" placeholder="Name" class="w-100 mb2">
    <label for="name">Name</label>
  </fieldset>

  <fieldset name="newsletter" action="newsletter-subscribe">
    <input type="text" id="email" placeholder="Email" class="w-100 mb2">
    <label for="email">Email</label>
  </fieldset>

  <div class="tc">
    <button class="btn mb3 w-100 w-auto-ns mb0-ns raise" type="submit">Submit</button>
  </div>

</form>
